{% extends 'base.html'%}
{% block title %}
Create Recipe
{% endblock title %}
{% block content %}
<header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
            </nav>
        </header>
        <main>
            <div class="banner">
                <h1>Scrumptious Recipes</h1>
                <h2>All the food that's fit to eat</h2>
            </div>
            <h1>Create a New Recipe!</h1>

            <div class="form-container">
                <form method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
{% endblock content %}
  