{% extends 'base.html'%}
{% block title %}
{{recipe_object.title}}
{% endblock title %}
{% block content %}
<header>
            <nav>
                <a href="{% url 'recipe_list' %}">BACK</a>
                <a href="{% url 'edit_recipe' recipe_object.id %}">EDIT</a>
            </nav>
        </header>
        <main class="main-detail">
            <div class="left-container">
                <h1>{{ recipe_object.title }}</h1>
                <img src="{{recipe_object.picture}}" alt="" />
                <p>Created on: {{recipe_object.created_on|date:"F j Y"}}</p>
                <p>By: {{recipe_object.author}}</p>
                <p>{{recipe_object.description}}</p>
            </div>

            <div class="right-container">
                <h2>Ingredients</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Food item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe_object.ingredients.all %}
                        <tr>
                            <td>{{ingredient.amount}}</td>
                            <td>{{ingredient.food_item}}</td>
                        </tr>
                       {% endfor %}
                    </tbody>
                </table>
                <div>
                    <h2>Steps</h2>
                    <ol>
                        {% for step in recipe_object.steps.all %}
                            <li>{{step.instruction}}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </main>
{% endblock content %}
  