{% extends 'base.html'%}
{% block title %}
Edit Recipe
{% endblock title %}
{% block content %}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
            </nav>
        </header>
        <main>
            <div class="banner">
                <h1>Scrumptious Recipes</h1>
                <h2>All the food that's fit to eat</h2>
            </div>

            <div class="form-container">
                <h1>Edit Recipe for {{ recipe.title }}</h1>
                <form method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </main>
{% endblock content %}