{% extends 'base.html'%}
{% block title %}
Scrumptious Recipes
{% endblock title %}
{% block content %}
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
                
                {% if user.is_authenticated %}
                <a href="{% url 'my_recipe_list' %}">My Recipes</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                    Hello, {{ user.username }}
                    <a href="{% url 'user_logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}">Sign up</a>
                    <a href="{% url 'user_login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <div class="banner">
                <h1>Scrumptious Recipes</h1>
                <h2>All the food that's fit to eat</h2>
            </div>

            <div class="recipes-container">
                {% for recipe in recipe_list %}
                <div class="recipe-container-{% cycle 'gray' 'green' 'pink' %}">
                    <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">
                            {{recipe.title}}
                        </a>
                    </h3>
                    <img src="{{recipe.picture}}" alt="taco picture" />
                    <div>4.3 stars</div>
                </div>
                {% endfor %}
            </div>
        </main>
{% endblock content %}
        
        